html {
  font-family: "Myriad Pro", sans-serif;
}
body {
  margin: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  
}
html, body {
  height: 100%;
}
div {
  height: 50%;
}
.bold {
  font-weight: bold;
}
p {
  font-size: 24px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
.words {
  height: 50%;
}
#submit {
  width: 90%;
}
.img-crossfade.bottom {
  z-index: -1;
  position: relative;
  height: 200%;
  width: auto;
}
.img-crossfade.top {
  z-index: 1;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  position: absolute;
  height: 50%;
  width: auto;
}
.img-crossfade.top:hover {
  opacity: 0;
}